<section class="panel panel-default clients">
    <div class="panel-heading"><span class="h3">Clients</span>

        <div class="pull-right">
            <div class="btn-group">
                <button type="button" data-action="switch-all" data-type="off" class="btn btn-sm client-state-off"><i class="fa fa-lg fa-fw fa-power-off"></i></button>
                <button type="button" data-action="switch-all" data-type="on" class="btn btn-sm client-state-on"><i class="fa fa-lg fa-fw fa-power-off"></i></button>
            </div>
            <!--<button class="btn btn-sm btn-default">Change Url</button>-->
        </div>
    </div>
    <div class="panel-body">
        <ul class="clients-list js-clients">

        </ul>
    </div>
</section>

