<div class="btn-group" data-toggle="buttons">
    <button class="btn btn-danger active" data-tron="switchAllTV" data-tron-state="on">
        switch TVs
    </button>
    <button class="btn btn-warning" data-tron="emergency" data-tron-state="off">
        Alternative
    </button>
</div>
<h1>Clients</h1>
<ul>
    {{#clients}}
        <li>{{id}}, {{url}}</li>
    {{/clients}}
</ul>
