<!doctype html>

<html>

<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/dist/css/style.css'>
    <meta name="viewport" content="initial-scale=1"/>
</head>

<body>

<div class="container">

{{{body}}}

</div>
<!-- /.container -->
<script src="/dist/js/{{js}}.js"></script>
</body>
</html>

