.heading {
  h1, .h3 {
    margin: 0;
  }

  .headline {
    span {
      display: none;
    }

    .clients-main & {
      span {
        display: block;
      }
      input {
        display: none;
      }
    }
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .pull-right {
    align-self: flex-end;
    white-space: nowrap;

    .config {
      display: inline-block;

      .btn-group-settings {
        .clients-main & {
          display: none;
        }
      }
      .btn-settings {
        .clients-groups & {
          display: none;
        }
      }
    }

    .btn {
      vertical-align: middle;

      &.panic-state {
        &[data-type="on"] {
          .fa {
            color: @brand-success;
          }
        }

        &[data-type="off"] {
          .fa {
            color: @brand-danger;
          }
        }
      }

    }
  }

}

input.has-error {
  color: @brand-danger;
  border-color: @brand-danger;
}

input.has-changed {
  color: @brand-info;
}

.clients {
  display: flex;
  flex-direction: column;

  input {
    background: transparent;
    transition: all .3s;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: inherit;

    &:focus {
      background: #fff;
      border-radius: 3px;
      border-color: #333;
      .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
    }
    &[disabled] {
      background: none;
      //opacity: .5;
      cursor: default;
    }
  }

  .panel-heading {
    flex-grow: 1;
    flex-shrink: 0;

    h1 {
      .h3;
      margin: 0;
    }

    .btn-size {
      .btn-sm;
    }
  }

  .panel-body {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &-main {
    margin-bottom: 15px;
    order: 1;
  }

  &-waiting {
    display: none;
    align-items: center;

    span {
      font-size: 22px;
      margin-left: .7em;
    }

    &.active {
      display: flex;
      ~ .clients {
        display: none;
      }
    }
  }

  &-list-item {
    .well;
    text-decoration: none;
    font-size: 22px;
    display: block;

    & + & {
      margin: @panel-body-padding 0 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    padding: 15px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
      display: inline-flex;
      flex-direction: column;
    }
  }

  &-settings {
    .well;
    .clearfix;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px;
    &-wrapper {
      clear: both;
    }

    input {
      background: #FFF;
    }

    .input-group + .input-group {
      margin-top: 5px;
    }

    .js-remove-schedule,
    .js-add-schedule {
      cursor: pointer;
    }
  }

  #group-undefined& {
    .config,
    .clients-settings {
      display: none;
    }
  }

  &-groups {
    order: 2;
    transition: all .5s;
    display: none;
    &.visible {
      display: block;
      & ~ .clients-groups-toggle {
        order: 3;
        display: none;
      }
    }

  }

  .clients-groups-toggle {
    order: 1;

    display: block;
    text-align: center;

    .btn {
      display: inline-block;
    }
  }

}

.client {
  display: flex;
  flex-direction: row;
  position: relative;

  > span {
    flex: 1 1 auto;

  }

  &-title {
    font-weight: bold;
  }

  &-url {
    font-size: .7em;
  }

  &-id {
    text-transform: uppercase;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;
    color: #CCCCCC;
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 0.5em;
    opacity: 0.75;
  }

  &-state {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 15px;
    color: grey;
    border-radius: 15px;
    .btn-default;

    &-pending {
    }

    &-on {
      .btn-success;
    }

    &-off {
      .btn-danger;
    }

    &-error {
      .btn-warning;

      i {
        &:before {
          content: @fa-var-exclamation;
        }
      }
    }
  }
}
