

html, body {
  font-family: "Open Sans", sans-serif;
}

//.container {
//}

.heading {
  h1, .h3 {
      font-family: "Open Sans Condensed", sans-serif;

    margin: 0;
  }

  .headline {
    span {
      display: none;
    }

    .clients-main & {
      span {
        display: block;
      }
      input {
        display: none;
      }
    }
  }

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .pull-right {
    align-self: flex-end;
    white-space: nowrap;

    .config {
      display: none;

      &-main {
        .clients-main & {
          display: inline-block;
        }
      }
      &-group {
        .clients-groups & {
          display: inline-block;
        }
      }
    }

    .btn {
      vertical-align: middle;

      &.panic-state {
        &[data-type="on"] {
          .fa {
            color: @brand-success;
          }
        }

        &[data-type="off"] {
          .fa {
            color: @brand-danger;
          }
        }
      }

    }
  }

}

input.has-error {
  color: @brand-danger;
  border-color: @brand-danger;
}

input.has-changed {
  color: @brand-info;
}
